<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--width=device-width - это, чтобы работали адаптивные версии на всех мобильных устройствах, т.е. ширина по девайсу-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  Подключаем стили (CSS) Бутстрапа
    rel (от relationship) – это атрибут, описывающий тег href-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <!--    Иконка сайта-->
    <link rel="icon" href="https://img.freepik.com/free-icon/leaf_318-654663.jpg">

    <title>User page</title>
</head>
<body>

<!--СОЗДАЕМ ШАПКУ-->
<header>
    <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" id="navbarBrand">
        <!--********** СКРИПТ **********-->
    </span>
        <form th:action="@{/logout}" th:method="POST">
            <button type="submit" class="btn btn-outline-dark" style="color: lightgrey">Logout</button>
        </form>
    </nav>
</header>

<div class="d-flex align-items-start">
    <!--********** Вертикальная левая панель с одной кнопкой User-->
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">User
            </button>
        </div>
    </div>


    <!--********** Содержимое справа от вертикальной левой панели-->
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <p class="fw-bold fs-3">User information-page</p>

                <p class="fw-bold fs-5">About user</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="tableUser">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Подключаем JavaScript-файл, который сами создали-->
<script type="text/javascript" src="/js/user-page.js"></script>

<!-- Подключаем jQuery library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<!--Подключаем JavaScript бутстрапа, включая Popper для позиционирования раскрывающихся списков,
                  всплывающие сообщения и всплывающие подсказки. Размещается перед закрывающим тегом </body>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>